<div class="container">
  <!-- button to edit list -->
  <%= link_to "Edit List", edit_list_path, class: 'btn btn-success' %>
  <div class="row">
    <div class="col-md-3">
      <h3>Due within 3 days</h3>
      <ul>
        <% @due_three_days.each do |task| %>
          <li><%= task %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <h2>Task</h2>
      <% if current_user %>
      <table class="table table-striped table-hover">
        <th>Task Name</th>
        <th>Days Left</th>
        <% @lists_tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= time_ago_in_words(task.created_at + 7.days) %></td>
        </tr>
        <% end %>
      </table>
        <%= render partial: 'lists/tasks/addtask' %>
      <% else %>
        <p>
          You need to
          <%= link_to "Sign In", new_user_session_path %>
          to view your list(s).
        </p>
      <% end %>
    </div>

    </div>
</div>
